
.display {
  grid-column-start: 8;
  grid-column-end: 12;
}

@media(max-width:450px) { .mapbox-container {
  display:flex;
  flex-direction:column;
  padding:none;
} }

.header {
  background-color:lightblue;
  display:flex;
}

body {
  background-color:#f1f5f9
}